.movies-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

  ul {
    list-style: none;
  }
  img {
    width: 340px;
    height: 514px;
    transition-duration: 0.3s;

    &:hover {
      border-radius: 20%;
    }
  }
}
