.directors-item {
  a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
  }
  &:hover {
    img {
      border-radius: 20%;
    }
  }
  img {
    width: 340px;
    height: 514px;
    transition-duration: 0.3s;
  }
}
