.genres-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  .genres-item {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 300px;
    height: 200px;
    background-image: url("https://img.freepik.com/free-vector/realsitic-film-strip-black-background_1017-33462.jpg");
    background-size: cover;
  }
  a {
    text-decoration: none;
  }

  li {
    font-size: 40px;
    text-transform: uppercase;

    h4 {
      color: white;
      margin: 10px;
    }
  }
}
