@import "../styles/variables";

.page-header .container {
  background-color: black;
  color: $light-color;
  padding-top: 15px;
  padding-bottom: 15px;

  .nav-list {
    display: flex;
    justify-content: flex-end;
    gap: 10px 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;

    a {
      color: $light-color;
      text-transform: uppercase;
      text-decoration: none;
    }

    a.active {
      color: $primary;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}
